html{
	width:100vw;
	height:100vw;
	background-color: rgb(120,120,120);
}
body{
	background-color:white;
	padding: 3vw 5vw;
	width: 70vw;
	margin: 2vw auto 0 auto;
	border-radius:8px;
}
div{
	padding:5px;
}
div.section{
	border:1px skyblue solid;
	margin:5px;
}
form{
	padding:10px;
}
table#data{
	border:1px solid black;
}
td{
	border:1px solid black;
}
tr{
	border:1px blue solid;
}
.error,.message{
	text-align:center;
}
.error{
	border:red solid 2px;	
}
.message{
	border:blue solid 2px;	
}
