html{
	width:100vw;
	height:100vw;
	background-color: rgb(120,120,120);
}
body{
	background-color:white;
	padding: 3vw 5vw;
	width: 70vw;
	margin: 2vw auto 0 auto;
	border-radius:8px;
}
div{
	padding:5px;
}
div.section{
	border:1px gray solid;
	margin:10px;
	border-radius:15px;
	padding:20px;
}
form{
	padding:10px;
}
table.data{
	border:1px solid black;
}
td{
	/*border:1px solid black;*/
}
tr{
	border:1px blue solid;
}
.info td{
	border:none;
}
.error,.message{
	text-align:center;
}
.error{
	border:red solid 2px;	
}
.message{
	border:blue solid 2px;	
}
.help{
	color:skyblue;
	font-weight:bold;
	font-size:20px;
	cursor:default;
}
.help span{
	background:#FFFFFF;
	position:fixed;
	left:5vw;
	top:5vh;
	border: 5px solid #DFDFDF;
	border-radius: 15px;
	padding:10px 10px;
	opacity:0;
	transition: opacity 1s;
}
.help:hover span{
	opacity:1;
}
.help span:hover{
	opacity:0;
}


